In [10]:
import numpy as np
import random

In [57]:
def rand_list(x):
    list1 = []
    for i in range(x):
        list1.append(random.randint(10,50))
    return list1

In [58]:
def sum_list(list1):
    return sum(list1)

In [59]:
while True:
    user_entry = int(input("Enter an integer between 5 and 15: "))
    if user_entry >= 5 and user_entry <= 15:
        break

Enter an integer between 5 and 15: 7

In [60]:
list2 = rand_list(user_entry)
print("The elements of the arrays are: ", list2)

The elements of the arrays are:  [33, 10, 36, 42, 10, 32, 38]

In [61]:
list_sum = sum_list(list2)
print("The sum is: " , list_sum)

The sum is:  201